body{
  font-size: 11pt;
}

/*SIDEBAR*/
.sidebar-brand-text img {
  max-height: 45px;
}


/*OPERATOR PAGE*/
#operator-page .container-fluid {
  padding: 0 1.54vw;
}

/*HEADER*/
.header-operator {
  border-radius: 14px !important;
}
.header-operator h1 {
  margin-left: 1.1vw !important;
}
.logo-header{
  max-height: 4vw;
}
div#current-time { /* JAM ACTUAL */
  background: #b4e9d7;
  color: #000;
  font-weight: bold;
  font-size: 5vw;
  padding: 0px 10px;
  border-radius: 20px;
  border: 2px solid #000000;
  line-height: 1.3;
}
div#current-time span { /* JAM ACTUAL */
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 5.0vw;
  line-height: 1.2;
  margin-bottom: -10px !important;
  margin: 0 0px;
  position: relative;
  top: 2px;
  min-width: 6.9vw;
}
table.table-data-operator td.nama-resep {
  font-size: 1.4vw;
  font-weight: 500;
}
table.table-data-operator th { /* TB HEADER */
  font-weight: 500;
  font-size: 1.7vw;
}
table.table-data-operator tr:last-child td{
  border-bottom: 0;
}
table.table-data-operator td:last-child{
  border-right: 0px solid #aaa;
}
table.table-data-operator td{
  vertical-align: middle;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #fff;
  line-height: 1.05;
}
table.table-data-operator { /* JAM KECIL */
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  font-size: 2.8vw;
  margin-left: -1px;
  width: calc(100% + 1px);
}


table.table-data-operator thead th {
  background: #002f6d;
  padding: 0.78vw !important;
  border-top: 0;
  color: #fff;
  border-right: 1px solid #aaa;
  border-bottom: 0;
}
.table-wrapper {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #aaa;
}
table.table-data-operator thead th:last-child {
  border-right: 0px solid #aaa;
}
table.table-data-operator tr:nth-child(1),
table.table-data-operator tr:nth-child(2),
table.table-data-operator tr:nth-child(3) { /* JAM BESAR */
  font-size: 6.6vw;
}
table.table-data-operator tr.alert:nth-child(1) td.nama-resep,
table.table-data-operator tr.alert:nth-child(2) td.nama-resep,
table.table-data-operator tr.alert:nth-child(3) td.nama-resep{
  font-size: 2.7vw !important;
}
table.table-data-operator tr.alert:nth-child(1) .countdown,
table.table-data-operator tr.alert:nth-child(2) .countdown,
table.table-data-operator tr.alert:nth-child(3) .countdown{
  color: #f00;
}


/*STEAMBOX PAGE*/
.legend-box {
  border: 1px solid #bbb;
  border-radius: 10px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  padding: 6px 0;
  width: calc(100% - 270px);
}
.legend-steambox:last-child {
  border: 0;
}
.legend-steambox {
  position: relative;
  border-right: 1px solid #ccc;
  padding: 0px 8px;
}

.legend-box input:checked ~ label{
  background: #ddd;
}
.legend-box label {
  margin: 0;
  padding: 5px 13px 5px 32px;
  position: relative;
  border-radius: 50px;
}
span.color-legend {
  width: 17px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 1px solid #fff;
  position: relative;
  top: 2px;
}
.legend-steambox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  z-index: 1;
  border-radius: 50px !important;
  opacity: 0;
}
.legend-steambox span.order {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 50%;
  top: 7px;
  left: 9px;
  font-size: 9pt;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1;
}
.list-resep span.select2-selection.select2-selection--single {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  border-radius: 0.35rem !important;
}
.list-resep .select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
  background: #c5c7d4;
}
.list-resep .select2-selection__arrow {
  position: relative !important;
  right: 0 !important;
}
#steambox-page span.select2-results {
  font-size: 11pt !important;
  /* white-space: nowrap; */
}
#steambox-page > .select2-container--open li{
  border-radius: 5px;
}
#steambox-page > .select2-container--open .select2-dropdown {
  position: relative !important;
  border: 0;
}
#steambox-page > .select2-container--open .select2-search--dropdown input {
  border-radius: 4px;
}
#steambox-page > .select2-container--open
.select2-search--dropdown {
  display: block;
  padding: 7px;
  background: #f2f2f2;
}
#steambox-page > .select2-container--open ul{
  padding: 7px 7px 7px;
}
#steambox-page > .select2-container--open {
  right: 25px;
  left: auto !important;
  display: flex;
  justify-content: flex-end;
  border: 0 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 4px;
}
.big-drop {
  width: auto !important; /* Atur lebar dropdown menjadi otomatis */
  max-width: none !important; /* Hilangkan batasan lebar maksimum */
}
.list-resep span.select2-results li{
  white-space: nowrap !important;
}
.list-resep span#select2-mySelect-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  overflow: hidden;
  display: block;
  padding-right: 6px;
}
.list-resep .select2 {
  font-size: 11pt;
  width: 140px !important;
  display: flex;
}
.list-resep .select2 span.selection {
  width: 100%;
  display: flex;
}
.list-resep {
  display: flex;
}
.data-steambox > div {
  padding: 0 3px;
}
.data-steambox {
  font-size: 8pt;
  color: #000;
  margin: 0 -3px;
}
.data-steambox td{
  border-color: #ccc;
  padding: 1px 2px;
  color: #000;
  font-weight: 500;
}
.data-steambox .card.error .number-steambox{
  background: #e10200;
}
.data-steambox .card.error {
  border:2px solid #e10200;
}
.data-steambox .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
  margin-bottom: 6px;
}
.data-steambox td:nth-child(2){
  padding-left: 5px;
}
.data-steambox td:first-child{
  border-right: 1px solid #ccc;
  padding-right: 0;
  white-space: nowrap;
}
.number-steambox {
  background: #000;
  color: #fff;
  padding: 1px;
  width: 30px;
  text-align: center;
  font-size: 9pt;
  border-radius: 6px;
  font-weight: 600;
}
.status-stembox {
  width: 75%;
  text-align: center;
  font-size: 9pt;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0px;
}