

/*SIDEBAR*/
.sidebar-brand-text img {
  max-height: 45px;
}


/*OPERATOR PAGE*/
#operator-page .container-fluid {
  padding: 0 1.54vw;
}

/*HEADER*/
.header-operator {
  border-radius: 14px !important;
}
.header-operator h1 {
  margin-left: 1.1vw !important;
}
.logo-header{
  max-height: 4vw;
}
div#current-time { /* JAM ACTUAL */
  background: #b4e9d7;
  color: #000;
  font-weight: bold;
  font-size: 5vw;
  padding: 0px 10px;
  border-radius: 20px;
  border: 2px solid #000000;
  line-height: 1.3;
}
div#current-time span { /* JAM ACTUAL */
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 5.0vw;
  line-height: 1.2;
  margin-bottom: -10px !important;
  margin: 0 0px;
  position: relative;
  top: 2px;
  min-width: 6.9vw;
}
table.table-data-operator td.nama-resep {
  font-size: 1.4vw;
  font-weight: 500;
}
table.table-data-operator th { /* TB HEADER */
  font-weight: 500;
  font-size: 1.7vw;
}
table.table-data-operator tr:last-child td{
  border-bottom: 0;
}
table.table-data-operator td:last-child{
  border-right: 0px solid #aaa;
}
table.table-data-operator td{
  vertical-align: middle;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #fff;
  line-height: 1.05;
}
table.table-data-operator { /* JAM KECIL */
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  font-size: 2.8vw;
  margin-left: -1px;
  width: calc(100% + 1px);
}


table.table-data-operator thead th {
  background: #002f6d;
  padding: 0.78vw !important;
  border-top: 0;
  color: #fff;
  border-right: 1px solid #aaa;
  border-bottom: 0;
}
.table-wrapper {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #aaa;
}
table.table-data-operator thead th:last-child {
  border-right: 0px solid #aaa;
}
.alert { /* JAM BESAR */
  font-size: 6.6vw;
}
.alert td.nama-resep{
  font-size: 2.7vw !important;
}
.alert .countdown{
  color: #f00;
}


/*STEAMBOX PAGE*/
.legend-box {
  border: 1px solid #bbb;
  border-radius: 10px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  padding: 6px 0;
}
.legend-steambox:last-child {
  border: 0;
}
.legend-steambox {
  position: relative;
  border-right: 1px solid #ccc;
  padding: 0px 8px;
}

.legend-box input:checked ~ label{
  background: #ddd;
}
.legend-box label {
  margin: 0;
  padding: 6px 13px 6px 32px;
  position: relative;
  border-radius: 50px;
}
span.color-legend {
  width: 17px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 1px solid #fff;
  position: relative;
  top: 2px;
}
.legend-steambox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  z-index: 1;
  border-radius: 50px !important;
  opacity: 0;
}
.legend-steambox span.order {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 50%;
  top: 8px;
  left: 9px;
  font-size: 9pt;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1;
}